:root {
  --background: #e8f1e9;
  --username-link-color: #3d5a58;
  --description-color: #1c292f;
  --skills-color: #5d4b4b;
}

html {
  margin: 0; 
  padding: 0;
}

body {
  font-family: rokkit, helvetica, roboto, sans-serif;
  background-color: var(--background);
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

a {
  text-decoration: none;
}

h1 {
  display: block;
  line-height: 1.4;
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 30px;
  margin: 0;
  color: var(--description-color);
}

span {
  text-align: center;
  font-size: 25px;
}

.wrapper {
  width: 500px;
  min-height: 400px;
  margin: 100px auto 20px;
  padding: 200px;
}

.firstname {
  vertical-align: baseline;
  color: var(--username-link-color);
}

.profil-picture {
  width: 250px;
  height: 200px;
  border-radius: 70px 35px;
  float: right;
}

.skills-section {
  margin: 0;
  padding: 0;
}

.skills-list {
  text-align: left;
  color: var(--skills-color);
  list-style: none;
  margin: 15px;
}

.skills-links {
   color: var(--skills-color); 
}
