:root {
  --username-link-color: black;
  --description-color: black;
  --skills-color: black;
  --link-hover-color: grey;
}

html {
  margin: 0; 
  padding: 0;
}

body {
  font-family: rokkit, helvetica, roboto, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 100%;
  width: 100%;
  background-image: radial-gradient(ellipse farthest-corner at right top, #C4CC76 0%, #9C9CA0 100%);
  background-attachment: fixed;
  background-size: 100%;
}

ul,li {
  margin:0;
  padding:0;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

h1 {
  display: block;
  line-height: 1.2;
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 30px;
  margin: 0;
  padding: 5px;
  color: var(--description-color);
}

.wrapper {
  width: 900px;
  min-height: 400px;
  margin: 50px auto 20px;
}

.firstname {
  vertical-align: baseline;
  color: var(--username-link-color);
  transition-duration: 1s;
}

.profil-picture {
  width: 250px;
  height: 200px;
  border-radius: 70px 35px;
  float: right;
  margin: 55px;
}

.skills-section {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 25px;
}

.intro {
  font-size: 25px;
  text-align: left;
}

.skills-list {
  text-align: left;
  color: var(--skills-color);
  list-style: none;
  margin: 15px;
  line-height: 1.4;
  font-size: 17px;
}
